body {
    background-image: url("../../Kohver.jpg");
    background-color: #cccccc rgba(0, 0, 0, 0.1);
    background-size: 100%;
} 


.main-header {
    padding: 10px;
    color: rgb(27, 11, 168);

}

        * { box-sizing: border-box; }
        body {
        font: 16px Arial;
        }
        .autocomplete {
        position: relative;
        display: inline-block;
        }
        input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
        }
        input[type=text] {
        background-color:white;
        width: 100%;
        }
        input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        }
        .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
        }
        .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
        }
        .autocomplete-items div:hover {
        background-color: #e9e9e9;
        }
        .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
        }
   

  label {
          display: block;
          font: 1rem 'Fira Sans', sans-serif;
      }
      
  input,
      label {
          margin: .4rem 0;
      }
      









        